/*-----------------Dark Mode---------------------------------------------------------- */
.night-mode {
    background-color: #333;
    color: #ffffff;
}



.night-mode body {
    background-color: #222;
    color: #fff;
}

.night-mode .container {
    background-color: #111;
    color: #fff;
}

.night-mode .options {
    color: #fff;
}

.night-mode .option {
    color: #fff;
}

.night-mode input {
    background-color: #333;
    color: #fff;
    border-color: #666;
}

.night-mode .button {
    background-color: #333;
    color: #fff;
    border-color: #666;
}

.night-mode .header {
    background-color: #111;
}

.night-mode #menu .navbar {
    background-color: #333333;
}

.night-mode .nav-paragraph {
    color: #fff;
}

.night-mode #menu span {
    color: #ffffff;
}
.night-mode .valor span{
    color: #b3b3b3;
}

.night-mode .nav-User span{
    color: #b3b3b3;
}
.night-mode span .color{
    color: #ffffff;
}
.night-mode .navbar .button {
    background-color: #333;
    color: #fff;
}

.night-mode #menu {
    color: white;
    background-color: #333333;
}

.night-mode #menu ul {
    color: #fff;
}
.night-mode a {
    color: #fff;
}
.night-mode #menu button a {
    color: #fff;
}

/* .night-mode #menu li {
    border-color: #666;
} */

.night-mode #menu li.active {
    background-color: #666;
    color: #fff;
}

.night-mode #content {
    background-color: #1a1a1a;
}

.night-mode #nightModeButton {
    background-color: #333;
    color: #fff;
}

.night-mode .table-container {
    background-color: #333333;
    color: #fff;
}
.night-mode .date-filterVentas {
    background-color: #333333;
    color: white
}
.night-mode .miTabla {
    background-color: #4d4d4d;
    color: white
}
.night-mode .miTabla th {
    background-color: #333333;
    color: white
}
.night-mode .miTabla tr {
    background-color: #4d4d4d;
    color: white
}
.night-mode #VentaTotal {
    background-color: #555;
    color: #020202;
}
.night-mode .centered-content div{
    color: white;
}


.night-mode .content-date .date {
    background-color: #333333;
    color: white;
}
.night-mode #tablaTransacciones {
    color: white;
}

.night-mode .parrafo {
    background-color: #333333;
    color: white;
}
.night-mode .conteiner-info {
    background-color: #333333;
    color: white;
}
.night-mode .title {
    color: white;
}



.night-mode #content .date-filter {
    background-color: #333333;
    color: #fff;
}
.night-mode .a{
    background-color: #333333;

}
.night-mode #content .cambiarContraseña {
    background-color: #666;
    color: #fff;
}

.night-mode #content .cambiarContraseña label {
    color: #fff;
}

.night-mode #content .cambiarContraseña input {
    background-color: #777;
    color: #fff;
}

.night-mode #content .dialog-box {
    background-color: #444;
    color: #fff;
}
.night-mode .section{
background-color:#233202;
color: white;
}
.night-mode .ultimos{
    background-color: #1a1a1a;
}