.content-factura {
    display: flex;
    width: 57%;
    height: 24vh;
    flex-direction: row;
}

.content h1 {
    margin-right: 10px;
    margin-left: 30px;
    font-size: 25px;
}

.content-elementos input {
    display: inline-block;
    margin-right: 10px; 
}

.button-container {
    width: 10% !important;
    margin-left: 0;
}
.content-elementos button {
    display: inline-block;
    border-radius: 30px;
    font-family: 'Open Sans';
    color: white;
    border: none;
    background-color:#8cc909;
}

#content-factura {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 19vh;
    flex-direction: row;
}
#search{
    width: 100%;
    height: 4vh;
}
.content-elementos input {
    width: 40%;
    border-radius: 23px;
    height: 4vh;
    border: none;
    margin-left: 30px;
    background-color: #e6e6e6;
}
.content-elementos{
    display: flex;
}
.content{
    width: 100%;
    display: flex;
    height: 12vh;
    flex-direction: column;
    justify-content: center;
}