.conteiner-infoo {
    font-family: 'Open Sans';
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    align-items: center;
    height: 58vh;
    background-color: rgb(254, 254, 254);
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.content-table {
    height: 79vh;
}

.service-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 39vh;
}

.service-image img {
    width: 17%;
    border-radius: 11px;
    margin: 10px;
    height: 12vh;
}

.input {
    width: 95%;
    border-radius: 23px;
    height: 5vh;
    font-family: 'Nunito';
    border: none;
    /* margin-left: 30px; */
    background-color: #e6e6e6;
}

.title {
    font-weight: bold;
    font-family: 'Open Sans';
    margin-left: 30px;
    font-size: 22px;
}

.PagoServicios {
    height: 5vh;
}


.content-1-PagoServicios .selected {
    background-color: #8cc909; /* Color de fondo cuando está seleccionado (verde en este caso) */
}

.content-1-PagoServicios button {
    text-decoration: none;
    border: none;
    font-weight: bold;
    all: unset;
 
    width: 20%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.content-1PagoServicios {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border-bottom: 5px solid #706f6f;
}

.conteiner-info2 {
    font-family: 'Open Sans';
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 254, 254);
    width: 100%;
    height: 17vh;
    justify-content: flex-start;
    margin-top: 42px;

    align-items: center;
}

.content-1-PagoServicios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 5px solid #706f6f;
    font-family: 'Open Sans';
}

.parrafo2 {
    font-size: 15px;
    padding: 5px;
    font-family: 'Open Sans';
    width: 100%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: white;
}

#contenido {
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contenidoh2 {
    height: 6vh;
    width: 99%;
}

/* .container-contenido{
    display: flex;
    height: 40vh;
    flex-direction: column;
    width: 100%;
*/
.container-contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 34px;
    align-items: center;
}

.button-container {
    width: 15%;
    margin-left: 5px;
}

.table {
    height: 8vh;
}
.night-mode .content-1PagoServicios option{
    background-color: #333333 !important;
}

.content-1-PagoServicios .selected {
 color: black;
}

@media (max-width: 991px) {
    .service-image img {
        margin: 10px;
    }
    .content-1-PagoServicios button {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .service-image {
        display: flex;
        width: 86%;
        height: 41vh;
        padding: 0;
        padding-left: 32px !important;
        padding-right: 68px !important;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
    }

    .conteiner-infoo {
        height: 96vh;
        width: 100%;
        justify-content: flex-start;
    }

    .conteiner-info2 {
        width: 100%;
        height: 9vh ;
        margin-top: 35px;
        border-radius: 0;
    }
    #contenidoh2 h2{
    width: 93% !important;

    }
    #contenidoh2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        align-items: center;
    justify-content: center;
    }

    .content-table {
        width: 101%;
        height: 96vh;
    }

    .content-1PagoServicios {
        background-color: #f2f2f2;
        justify-content: center;
        width: 100%;
    }

    #contenido {

        align-items: center;
        height: 6vh;
        width: 90%;
        padding: 0;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* font-size: 18px; */
    }

    .container-contenido {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 54vh;
        margin-bottom: 10px;
        align-items: center;
        justify-content: flex-start;
    }

    .title {
        font-size: 15px;
        margin-left: 0px;
        width: 87%;
        margin-bottom: 0;
        padding: 0;
    }

    .parrafo2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    .input {
        padding-left: 10px;
        height: 4vh;
        width: 91% !important;
        margin-left: 0px;
    }

    .content-1-PagoServicios button {
        width: 31%;
        font-size: 16px;
    }

    #content {
        width: 107% !important;
    }

    .service-image img {
        margin: 5px;
        width: 29%;
        height: 9vh;

    }

    #h2-info2 {
        font-size: 15px;
    }
    .night-mode .content-table {
        background-color: #1a1a1a;
    }

    .night-mode .conteiner-info {
        background-color: #1a1a1a;
    }

    .night-mode .container-contenido {
        background-color: #1a1a1a;
    }

    .night-mode .conteiner-info2 {
        background-color: #333333;
    }

    .night-mode .parrafo2 {
        background-color: #1a1a1a;
    }

    .night-mode .content-1-PagoServicios {
        background-color: #1a1a1a;
    }

    .night-mode .conteiner-infoo {
        background-color: #1a1a1a;
    }
  

}