.conteiner-info {
    font-family: 'Open Sans';
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    padding: 5px;
    background-color: rgb(254, 254, 254);
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 5px solid #444;
}
.content-date{
    display: flex;
    width: 99%;
    height: 5vh;
    margin-top: 14px;
    margin-bottom: 28px;
    margin-left: 53px;
}

.parrafo{
    font-size: 15px;
    padding: 5px;
    font-family: 'Nunito';
    width: 100%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: white;
}
.content-2 {

    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-family: 'Nunito';
}

.content-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    font-family: 'Nunito';
}

.date {
    display: flex;
    width: 47%;
    border-radius: 23px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between; 
    align-items: center; 
    /* padding: 10px;  */
}

.date .date-fields {
    display: flex;
    align-items: center; 
}

.date .date-fields label {
    margin-right: 10px; 
}

.date select {
 
    padding: 5px;
    
}

.contentAll{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.date button#search {
    padding: 5px 10px;
  
}

.content-liquidacion{
    display: flex;
    background-color: gray;
    width: 47%;
    color: white;
    border-radius: 23px;
    margin-left: 40px;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    justify-content: flex-end;
}
.title{
    font-weight: bold;
}
.p-liquidacion{
    margin-right: 32px;
}
.conteiner-transacciones{
    display: flex;
    background-color: red;
    color: white;
    height: 5vh;
    margin-top: 22px;
    width: 100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.content-fechaComprobante{
    display: flex;
    justify-content: flex-start;
    width: 17%;
    height: 6vh;
    align-items: center;
    align-content: center;
    flex-direction: row;
    /* margin-left: 40px; */
}

.filters{
    width: 65%;
  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Nunito';
}
#fecha{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#fecha select{
    width: 52px;
    height: 3.5vh;
    margin-right: 17px;
}
#tablaTransacciones{
    width: 100%;
    height: 100%;
    color: black;
}

/* .conteiner-transacciones{
    height: 120vh;
} */

.tabla-transacciones{
    height: 20vh;
    background-color: white;
}
.tabla-resumen{
    height: 20vh;
    background-color: white;
}
.blue-background {
    background-color: #377bb1;
    color: white; /* Cambia el color del texto para que sea legible en el fondo azul */
}
