.date-filterVentas{
    background-color: white;
    font-family: 'Open Sans';
    padding: 20px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    width: 101%;
    margin-bottom: 21px;
    margin-top: 10px;
}
.container-fecha{
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    /* background: pink; */
    align-items: center;
    justify-content: space-between;
}
.fechaHasta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-filter {
    background-color: white;
    font-family: 'Open Sans';
    border-radius: 17px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 5vh;
    width: 95%;
}

.search-filter input {
    width: 23%;
    background-color: #e6e6e6;
    border: none;
    height: 3.5vh;
    margin-right: 53px;
    margin-left: 25px;
}
.content-table{
    font-family: 'Open Sans';
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 94vh; */
    height: 79vh;
    align-items: center;
    justify-content: flex-start;
}
.terminal{
    align-items: flex-start;
    font-family: 'Nunito';
}
#fechaDesde{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.button-container {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}
.content-fecha{
    display: flex;
    justify-content: column;
    flex-direction: column;
    width: 17%;
    height: 6vh;

    align-content: center;
}