/*-----------------Dark Mode---------------------------------------------------------- */
.night-mode {
    background-color: #333;
    color: #ffffff;
}



.night-mode body {
    background-color: #222;
    color: #fff;
}

.night-mode .container {
    background-color: #111;
    color: #fff;
}

.night-mode .options {
    color: #fff;
}

.night-mode .option {
    color: #fff;
}

.night-mode input {
    background-color: #e6e6e6;
    color: #fff;
    border-color: #666;
}

.night-mode .button {
    background-color: #333;
    color: #fff;
    border-color: #666;
}

.night-mode .header {
    background-color: #121901;
}

.night-mode #menu .navbar {
    background-color: #333333;
}

.night-mode .nav-paragraph {
    color: #fff;
}

.night-mode #menu span {
    color: #ffffff;
}
.night-mode .valor span{
    color: #b3b3b3;
}

.night-mode .nav-User span{
    color: #b3b3b3;
}
.night-mode span .color{
    color: #ffffff;
}
.night-mode .navbar .button {
    background-color: #333;
    color: #fff;
}

.night-mode #menu {
    color: white;
    background-color: #333333;
}

.night-mode #menu ul {
    color: #fff;
}
.night-mode a {
    color: #fff;
}
.night-mode #menu button a {
    color: #fff;
}

/* .night-mode #menu li {
    border-color: #666;
} */

.night-mode #menu li.active {
    background-color: #666;
    color: #fff;
}

.night-mode #content {
    background-color: #1a1a1a;
}

.night-mode #nightModeButton {
    background-color: #333;
    color: #fff;
}

.night-mode .table-container {
    background-color: #333333;
    color: #fff;
}

.night-mode .miTabla {
    background-color: #4d4d4d;
    color: white
}
.night-mode .miTabla th {
    background-color: #333333;
    color: white
}
.night-mode .miTabla tr {
    background-color: #4d4d4d;
    color: white
}
.night-mode #VentaTotal {
    background-color: #555;
    color: #020202;
}
.night-mode .centered-content div{
    color: white;
}


.night-mode .content-date .date {
    background-color: #333333;
    color: white;
}
.night-mode #tablaTransacciones {
    color: white;
}

.night-mode .parrafo {
    background-color: #333333;
    color: white;
}
.night-mode .conteiner-info {
    background-color: #333333;
    color: white;
}
.night-mode .title {
    color: white;
}


.night-mode .a{
    background-color: #333333;

}

.night-mode .section{
background-color:#233202;
color: white;
}
/* ----inicio --------------*/
.night-mode #ultimos{
    background-color: #1a1a1a;
}
.night-mode tr:nth-child(odd) {
    background-color: #4d4d4d;
}
.night-mode tr:nth-child(even) {
    background-color: #333333;
}
.night-mode th{
    color: white;
}
.night-mode tr{
    color: #b3b3b3;
}
.night-mode td{
    color: #b3b3b3;
}
/* ----ventas --------------*/
.night-mode .table-responsive{
    background-color: #1a1a1a;
}
.night-mode #fechaDesde  label {
    color: #b3b3b3;
}
.night-mode #fechaHasta label{
    color: #b3b3b3;
}
/* ----ventas/total --------------*/
.night-mode .conteiner-register {
    background-color: #333333;
}
.night-mode .content-1 {
    color: #b3b3b3;
}
.night-mode .content-2 {
    color: #b3b3b3;
}
.night-mode .parrafo {
    color: #b3b3b3;
}
.night-mode .search-filter {
    background-color: #333333;
}
.night-mode .conteiner-infoo {
    background-color: #333333;
}
.night-mode  .conteiner-info2{
    background-color: #333333;
}
.night-mode  .parrafo2{
    background-color: #333333;
}
.night-mode  .date-filterContraseña{
    background-color: #333333;
}
.night-mode #content .cambiarContraseña {
    background-color: #333333;
}
.night-mode #content .cambiarContraseña label {
    color: #fff;
}

.night-mode #content .cambiarContraseña input {
    background-color: #e6e6e6;
    color: #fff;
}

.night-mode #content .dialog-box {
    background-color: #ffff;
    color: black;
}
/* ----Inicio mobil --------------*/
.night-mode .contentFecha{
    background-color: #1a1a1a;
}
.night-mode #verMas{
    color: white;
    background-color: #8cc909;
}
.night-mode .main-divs{

    background-color: #706f6f;
}
/* ----Ventas total mobil --------------*/
.night-mode .container-section{
    background-color: #706f6f;
}
.night-mode .content-table{
    background-color: #1a1a1a;
}
.night-mode .moodnight{
    background-color: #1a1a1a;
}
.night-mode .contentButton{
    background-color: #1a1a1a;
}
.night-mode .date-filterVentas {
    background-color: #333333;
}
.night-mode .date-filter {
    background-color: #333333;
    color: white
}

.night-mode .content-tableVentasTotal {
    background-color: #1a1a1a;
}

.night-mode .conteiner-register-V {
    background-color: #1a1a1a;
}
.night-mode .gris {
    background-color: #333333;
}
/* ----liquidacion mobil --------------*/
.night-mode .content-date .date {
    background-color: 
    #333333;
}

.night-mode .conteiner-register {
    background-color: #333333;
}


.night-mode .content-2 {
    background-color: #333333;
}

.night-mode .parrafo {
    background-color: #333333;
}


.night-mode .table.table-bordered, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border: none !important;
}

.night-mode .content-table-L {
    background-color: #1a1a1a;
}
.night-mode .terminal {
    color: #b3b3b3;
}
.night-mode th {
    background-color: #333333 !important;
}
