

.cambiarContraseña {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: white;
    font-family: 'Open Sans';
    border-radius: 17px;
    align-items: center;
 
    width: 95%;
}
#search{
    margin-left: 68px;
}

.search-filter {
    background-color: white;
    font-family: 'Open Sans';
    border-radius: 17px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 5vh;
    width: 100%;
    margin-top: 14px;
}

.search-filter input {
        background-color: #e6e6e6;
        border: none;
        height: 4vh;
        width: 22%;
        /* flex-grow: 1; */
        margin-left: 43px;
}


.cambiarContraseña label {
    display: block;
    margin-bottom: 10px;
}

.cambiarContraseña input {
    /* width: auto; */
    background-color: #d3d2d2;
}
.search{
    width: 53%;
}
.button-containerEnviar{
    display: flex;
    width: 10%; 
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.dialog-box img {
    width: 17%;
}
.dialog-box p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.dialog-box {
    background-color: #f7fbff;
    color: #020202;
    text-align: center;
    position: relative;
    width: 20%;
    height: 8vh;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
}

.date-filterContraseña {
    background-color: white;
    font-family: 'Open Sans';
    padding: 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
    width: 101%;
    height: 5vh;
    justify-content: space-between;

}
.content-dialog{
    width: 100%;
    /* margin-left: 60px; */
}